@import "../config";

body {
  margin: 0;
  background: $black;

  &.noScroll {
    height: 100%;
    overflow: hidden;

    @include mq($removeMobileMenuBreakPoint) {
      height: auto;
      overflow-y: auto;
    }
  }
}