@include mq($removeMobileMenuBreakPoint) {
  .artist-presentation {
    padding-top: 1em;
    margin-top:calc(104px - 300px);
    .artist-content {
      width: 100%;
      display: grid;
      grid-template-columns: 60% 35%;
      justify-content: space-between;
    }
    .artist-image{
      width:100%;
      //background-position:25% 25%;
      background-repeat: no-repeat;
      overflow:hidden;
      height:500px;
      max-width:100%;

      img{
        max-width:100%;
        height:auto;
        max-height:500px;
        //max-width:100%;
        
      }

      .artist-photo-credit{
        color:rgba(255, 255, 255, .8);
        float:right;
        background-color:rgba(0,0,0,.4);
        line-height:1;
        padding:.2em .3em;
        font-size:.8em;
      }

    }
    .artist-links{
      text-align: left;
      //border: 1px solid $white;
      //padding:2em;
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
      column-gap: 1em;
      row-gap: 1em;

      .artist-link{
        display: flex;
        padding:1em;
        flex-flow:row;        
        align-items:center;
        border:1px solid $white;
      }

      h3, h4, a{
        //color: $black;
      }
      .svg-icon{
        //fill: $black;
        height:20px;
        width:20px;
        margin-right:1em;
      }
    }
    .spotify-embed {
      margin: 2em 0;
    }
  }
}

/* .golive-section-artist-modal {
    .artist-modal {
      .v--modal-box {
        background-color: $black;
        left: 0 !important;
        margin: 2.5% auto 2.5% auto !important;
        border: 1px solid $white;
      }

      .modal-close-button {
        top: -1px;
        right: -1px;
        position: absolute;
        padding: 0px 12px;
        cursor: pointer;
      }
      .modal-close-button::before {
        color: $white;
        content: "\00d7";
        font-size: 3em;
        line-height: 1;
        display: inline-block;
      }
      
    }
  } */
