.artist-presentation {
  padding-top: 2.5%;
  .artist-content {
    width: 100%;
  }
  .artist-image {
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    max-height: 300px;
    max-width: 100%;
    position: relative;
    img {
      max-width: 100%;
      height: auto;
      max-height: 300px;
    }
    .artist-photo-credit {
      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(0, 0, 0, 0.4);
      line-height: 1;
      padding: 0.2em 0.3em;
      font-size: 0.8em;
      position: absolute;
    }
  }

  .artist-title {
    margin-top: 0.5em;
    font-size: 1.6em;
  }

  .artist-style {
    font-size: 1.3em;
  }

  .artist-description {
    font-size: 0.9em;

    strong,
    b {
      margin: 1em 0 0 0;
      display: inline-block;
    }
    p {
      margin: 0.5em 0;
    }
  }

  .artist-info {
    text-align: left;
    padding: 0.2em 1em;
    border: 1px solid $white;
    margin-bottom: 2em;
    h4 {
      margin: 0.8em 0;
      color: $font-light-grey;
      line-height: 1.1;
      span {
        color: $white;
      }
    }
    .artist-tags {
      .artist-tag {
        padding: 0.2em 0.4em;
        border-radius: 3px;
        margin: 0.25em 0.5em 0 0;
        display: inline-block;
        font-size: 1em;

        span {
          position: relative;
          top:-1px;
          margin-right: -1px;
        }
      }
      .artist-tag:last-of-type {
        margin-right: 0;
      }
    }
  }

  .artist-links {
    .artist-link-wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .artist-link {
      display: flex;
      padding: 0.5em;
      margin: 0.25em 0.5em 0.25em 0;
      align-items: center;
      border: 1px solid $white;
      transition: all 0.2s;

      span {
        color: $white;
        font-size: 0.9em;
        transition: all 0.2s;
      }
    }

    .artist-link:hover {
      background-color: $white;
    }

    .artist-link:hover span,
    .artist-link:hover .svg-icon {
      color: $font-light-grey;
      fill: $font-light-grey;
    }
    .svg-icon {
      height: 16px;
      width: 16px;
      margin-right: 0.5em;
      transition: all 0.2s;
    }
  }
  .embedded-link {
    margin: 0 0 2em 0;
  }
}

@include mq($removeMobileMenuBreakPoint) {
  .artist-presentation {
    .artist-content {
      display: grid;
      grid-template-columns: 60% 35%;
      justify-content: space-between;
    }
    .artist-image {
      max-height: 500px;
      img {
        max-height: 500px;
      }
    }
    .artist-title {
      margin-top: 0.5em;
      font-size: 2em;
    }
    .artist-style {
      font-size: 1.5em;
    }

    .artist-description {
      font-size: 1.3em;
    }
  }
}
