.artist-tag {
  background-color: $white;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  margin: 0.25em 0.5em 0 0;
  display: inline-block;
  font-size: 1em;
  opacity: .75;
  transition: all .2s;

  .tag-color {
    position: relative;
    top: -1px;
    margin-right: -1px;
  }
}
.artist-tag:last-of-type {
  margin-right: 0;
}

.artist-tag:hover{
  cursor: pointer;
  opacity: .9!important;
}