.collaborators-section {
  h2 {
    margin-bottom: 0.5em;
    line-height: 0.9em;
    text-align: left;
  }
  .collaborators {
    display: relative;
    margin: 2em 0 4em 0;

    .collaborator-image {
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5%;
      flex-direction: column;

      img {
        max-height: 200px;
        padding: 5%;
      }
    }

    .collaborator-text-wrapper {
      .collaborator-title {
        margin: 1em 0 0.2em 0;
        text-align: left;
        line-height: 1em;
      }

      .collaborator-text {
        text-align: left;
        font-size: 0.9em;
        line-height: 1.3em;
      }
    }
  }
  .collaborators:first-of-type {
    margin-top: 1em;
  }
  .collaborators:last-of-type {
    margin-bottom: 0;
  }
}

@include mq($removeMobileMenuBreakPoint) {
  .collaborators-section {
    .collaborators {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4em;
      margin: 0 0 4em 0;

      .collaborator-image {
        img {
          max-height: 300px;
        }
      }

      .collaborator-text-wrapper {
        align-self: center;

        .collaborator-title {
          margin-bottom: 0.5em;
        }

        .collaborator-text {
          font-size: 1.3em;
        }
      }
    }
    .collaborators:first-of-type {
      margin-top: 2em;
    }
    .collaborators:last-of-type {
      margin-bottom: 0;
    }
  }
}