.countdown-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $font-light-grey;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom:.5em;
    line-height:1;
  }

  h3 {
    font-size: 2em;
    text-align: center;
  }
  .timestamp {
    font-size: 0.5em;
  }
}
@include mq($removeMobileMenuBreakPoint) {
  .countdown-section {
    h3 {
      font-size: 4em;
    }
  }
}
