.faq-section {
  h1 {
    color: $font-light-grey;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 1em;
  }

  .faq {
    text-align: left;
    line-height: 1.15em;

    .question {
      font-size: 1.3em;
      margin: 1.6em 0 0.2em 0;
      color:$font-light-grey;
    }
    .answer {
      font-size: 0.9em;

      li {
        margin-bottom: 0.6em;
      }
    }
  }
}
@include mq($removeMobileMenuBreakPoint) {
  .faq-section {
    max-width:1000px;
    margin:auto;
    h1 {
      margin-bottom: 1em;
    }

    h2 {
      margin-bottom: 1em;
    }

    .faq {
      text-align: left;
      line-height: 1.6em;

      .question {
        font-size: 1.6em;
        margin: 1.6em 0 0.2em 0;
      }
      .answer {
        font-size: 1.2em;

        li {
          margin-bottom: 0.6em;
        }
      }
    }
  }
}
/*
    .faq-wrapper {
      width: 100%;

      .faq__nav div, .accordion__item div{
        background-color: $white;
        font-family: $font-standard;
        font-weight: $font-standard-weight;
      }

      .faq__nav-item_active{
        color:$black;
      }

      .accordion__title p{
          font-size:1.2em;
        color:$brand-color;
      }

      .accordion__toggle-button:before, .accordion__toggle-button:after{
        background:$black;
      }

      .accordion__toggle-button_active:before, .accordion__toggle-button_active:after{
        background:$brand-color;
      }
    }
  }

  .what-is-arctic-sounds{
      li {
          padding-top:1em;
      }
  }*/
