@include mq($removeMobileMenuBreakPoint) {
  .golive-section {
    margin: auto;

    h1 {
      margin-bottom: 1em;
    }

    .artists-grid {
      display: grid;
      grid-template-columns: repeat(3, 33.33%);
      grid-auto-flow: dense;

      .artist:hover{
        cursor: pointer;

        .artist-image{
          background-size: 100%;
          //box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        }
      }

      .artist-image::before {
        //display: inline-block;
        //width: 1px;
        content: "";
        height: 0;
        padding-bottom: 100%;
      }

      .artist-image {
        width: 100%;
        height: 100%;
        background-size: 102%;
        background-position: center;
        background-repeat: no-repeat;
        display:flex;
        justify-content: center;
        align-items: center;
        transition: background-size .3s ease;
      }

      .artist-title {
        background-color: rgba(0, 0, 0, 0.6);
        line-height: 1;
        padding: 0.5em;
        border:1px solid rgba(255, 255, 255, 0.6);
      }
    }
  }
}
