.iceberg-section {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/iceberg.jpg);
  padding: 5%;
  display: flex;
  align-items: center;
  justify-items: center;

  h3 {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-weight: normal;
    font-size: 1.8em;
    color: #8afff0;
    word-wrap: wrap;
  }
}
@include mq($removeMobileMenuBreakPoint) {
  .iceberg-section {
    height: 90vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-items: center;

    h3 {
      font-size: 3em;
    }
  }
}
