.instagram-section {
  width: 100%;
  padding:5% 0 0 0;

  h2{
    color:$white;
    font-size:32px;
    text-transform: uppercase;
    margin-bottom:10px;
  }

  .ig-logo {
    width: 100%;
    margin-bottom:2em;
  }

  .ig-grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 28%);
    grid-template-columns: repeat(3, 28%);
    justify-content: center;
    column-gap: 3%;
    row-gap: 3%;
  }
}

.ig-img {
  background-color: $white;
  display: flex;
  overflow: hidden;
  border:1px solid $white;

  img {
    align-self: center;
    width: 100%;
    height: auto;
  }
}
