.main-footer {
  padding: 3em 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border-top: 4px solid $white;
  box-sizing: border-box;
  text-align: center;

  ul {
    justify-self:center;
  }
  h3 {
    color: $font-light-grey;
    font-size: 1.4em;
    line-height:1em;
  }
  li {
      font-size:1em;
      padding:.125em 0;
      
    .svg-icon {
      fill: $font-light-grey;
      height: 20px;
      width: 20px;
      padding-top: 4px;
    }
  }
  a {
    color: $white;
  }
}
@include mq($removeMobileMenuBreakPoint) {
  .main-footer {
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: 4px solid $white;
    text-align:left;

    h3 {
      color: $font-light-grey;
    }
    li {
        font-size:1.3em;
        padding:.2em 0;
      .svg-icon {
        fill: $font-light-grey;
        height: 20px;
        width: 20px;
        margin-right: 4px;
        padding-top: 4px;
      }
    }
    a {
      color: $white;
    }
  }
}
