  .program-section {
    margin: -196px auto auto auto;
  }

  .schedule{
    display:grid;
    grid-template-columns: 100%;
    grid-auto-flow: dense;
    text-align: left;
  }

  .weekday{
    margin: 4em 0 1em 0;
  }

  .row{
    display:grid;
    flex-flow: row;
    border:1px solid $white;
    overflow-x:auto;
    background-color: #111;
    margin-bottom: 1em;
  }
  .day .row:first-of-type{
    margin-bottom: 0em;
  }

  .venue{
    padding: .5em 1em;
    display: flex;
    min-width:200px;
    align-items: flex-start;
    background-color:$font-light-grey;
    
    .venue-title{
      color: $white;
    }
  }
  .shows{
    display: flex;
    flex-flow: row;
  }

  .show{
    padding:1em;
    width: 180px;
    height:130px;
    position: relative;
    overflow-wrap: break-word;
    border-right: 1px solid $white;
    background-color: $black;

    .show-time{
      padding-bottom:3px;
      border-bottom:1px solid $white;
      margin-bottom:3px;
    }
  }
  

@include mq($removeMobileMenuBreakPoint) {

}
