  .schedule{
    display:grid;
    width:100%;
    grid-auto-flow: dense;
    text-align: left;
    justify-content: center;
  }

  .weekday{
    margin: 3em 0 1em 1em;
    font-size:.8em;
  }

  .row{
    display:grid;
    flex-flow: row;
    margin-bottom: 1em;
  }
  .day .row:first-of-type{
    margin-bottom: 0em;
  }

  .venue{
    padding: .5em 1em;
    background-color:$font-light-grey;
    
    .venue-title{
      color: $white;
    }
  }

  .shows{
    padding:0 1em;
    border-width: 0 0 1px 0;
    border-color: $white;
    border-style: solid;
    margin-bottom:0em;
  }

  .show{
    padding:0.5em 0em;
    width: 100%;
    position: relative;
    overflow-wrap: break-word;
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 1.5em;
    border-bottom: 1px solid $white;

    .show-title{
      word-break: break-word;
      a{
        color:$white;
      }
    }
  }

  .show:last-of-type{
    border:none;
  }
  

@include mq($removeMobileMenuBreakPoint) {
  .weekday{
    font-size:.8em;
  }
  .venue{
    padding: .5em 2em;
  }
  .shows{
    border-width: 0 1px 1px 1px;
    padding: 0em 2em;
  }
  .show{
    padding: .8em 0em
  }
}
