  .program-section {
    //margin: auto auto auto auto;
  }

  .schedule{
    display:grid;
    width:100%;
    grid-template-columns: 100%;
    grid-auto-flow: dense;
    text-align: left;
  }

  .weekday{
    margin: 3em 0 1em 1em;
    font-size:.8em;
  }

  .row{
    display:grid;
    flex-flow: row;
    margin-bottom: 1em;
  }
  .day .row:first-of-type{
    margin-bottom: 0em;
  }

  .venue{
    padding: .5em 1em;
    background-color:$font-light-grey;
    
    .venue-title{
      color: $white;
    }
  }

  .shows{
    padding:0 1em;

  }

  .show{
    padding:0.5em 0em;
    width: 100%;
    position: relative;
    overflow-wrap: break-word;
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 1.5em;

    .show-time{
      white-space: nowrap;
    }

    .show-title{
      word-break: break-word;
      a{
        color:$white;
      }
    }
  }
  

@include mq($removeMobileMenuBreakPoint) {
  .shows{
    padding: .5em 1em;
  }
  .venue{
    padding: .5em 2em;
  }
}
