.sponsors-grid {
  width: 100%;
  padding: 5%;
  background-color: $black;

  span {
    margin-bottom: 2em;
    display: block;

    h2 {
      font-size: 2em;
      color: $white;
      text-transform: uppercase;
    }
    p {
      text-align: center;
      font-size: 20px;
    }
  }

  .sponsors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 2em;
    column-gap: 2em;

    .sponsor-image {
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10%;
    }
  }
}
