.sponsors-grid {
  background-color: $black;

  span {
    margin-bottom: 1em;
    display: block;

    h2 {
      color: $white;
      text-transform: uppercase;
      line-height:.9em;
      margin-bottom:0.3em;
    }
    p {
      text-align: center;
      font-size: .9em;
    }
  }

  .sponsors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 4px;
    column-gap: 4px;

    .sponsor-image {
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10%;
    }
  }
}
@include mq($removeMobileMenuBreakPoint) {
  .sponsors-grid {
    background-color: $black;

    span {
      margin-bottom: 2em;
      display: block;

      h2 {

      }
      p {
        font-size: 1.3em;
      }
    }

    .sponsors {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 1fr);
      row-gap: 2em;
      column-gap: 2em;

      .sponsor-image {
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
      }
    }
  }
}
