.ticket-section {
  background-color: #125068;
  padding: 5% 2.5%;
  h2 {
    margin-bottom: .5em;
  }
  .ticketbutler-iframe{
    max-width:620px;
    margin:auto;
    div div span{
      display:none;
    }
    
  }
  .ticket-info{
    max-width:600px;
    margin:auto;
    padding:6px 4px 0 4px;
  }

}
@include mq($removeMobileMenuBreakPoint) {
  
}